
body{
    margin: 0;
    padding: 0;
    background: url(/imagescpt.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.contact{
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(cbg.jpg);
    background-size: cover;
}

.contact .content h2{
    font-size:36px;
    font-weight: 550;
    color: rgb(0, 225, 255);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.contact .content p{
    font-size:20px;
    font-weight: 300;
    color: white;
}

.container { 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
    background: #112d42;
    padding-left: 20px;
    padding-right: 80px;
    /* border-radius: 10%; */
}

.container .contactInfo .stuff {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .stuff .icon {
    min-width: 60px;
    height: 60px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .stuff .text {
    display: flex;
    margin-left: 20px;
    font-size: 18px;
    color: white;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .stuff .text h3{
    font-weight: 550;
    color: rgb(0, 225, 255);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background: white;
}

.contactForm h2{
    font-size: 30px;
    color: #112d42;
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #112d42;
    outline: none;
    resize: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: rgb(0, 225, 255);
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #112d42;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.contactForm .inputBox input[type="submit"]:hover{
    background: rgb(0, 225, 255);
}

@media (max-width:991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction:column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo, .contactForm{
        width: 100%;
    }
}
