.nav-item{
  margin-top: 10px;
  font-size: 13px;
  font-weight: 10px;
  padding: 12px;
  margin-bottom: 10px;

}
.navbar{
  padding: .8rem;
  ; 
}

* {
  box-sizing: border-box;
}


.column {
  float: left;
  width: 33.33%;
  padding: 30px;
  height: 300px; 
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.text{
  text-align: center;
}


.images {
  border-radius: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.nav-bar{
background: #04C4D9;
padding-top: 30px;
padding-bottom: 50px;
text-align: center;
}

h1{
  text-align: center;
}

h3{
  text-align: center;
  color: cadetblue;

}

.button{
  text-align: center;
}

